<header class="header fixed w-full text-white py-4 px-4 flex justify-between items-center backdrop-blur-md">
    <h1 class="text-2xl font-bold"><a href="index.html">Christian Rueda-Ayala</a></h1>
    <nav>
      <ul class="flex space-x-6">
        <li><a href="index.html" class="nav-link"><i class="fas fa-user mr-1"></i>Profile</a></li>
        <li><a href="experience.html" class="nav-link"><i class="fas fa-cogs mr-1"></i>Experience</a></li>
        <li><a href="projects.html" class="nav-link"><i class="fas fa-briefcase mr-1"></i>Projects</a></li>
        <li><a href="publications.html" class="nav-link"><i class="fas fa-book mr-1"></i>Dissemination</a></li>
        <li><a href="contactme.html" class="nav-link"><i class="fas fa-envelope mr-1"></i>Contact</a></li>
      </ul>
    </nav>
  </header>
  
  
  
  