:root {
  /* Primary color definitions */
  --primary-color-light: #5578f7;     /* Light mode primary */
  --primary-color-dark: #5578f7;      /* Dark mode primary */
  --primary-background-light: #e5e7eb;/* Light mode background */
  --primary-background-dark: #374151; /* Dark mode background */
}

.header {
  background-color: rgb(31, 113, 244);
  transition: background-color 0.3s ease;
  backdrop-filter: blur(6px);
}

.header.scrolled {
  background-color: rgb(31, 113, 244);
}

.dark .header {
  background-color: rgb(55, 106, 247);
}

.dark .header.scrolled {
  background-color: rgba(29, 78, 216, 0.7);
}

.nav-active {
  font-weight: bold;
  text-decoration: underline;
}
 
/*Bar Animation */
@keyframes fillBar {
  from { width: 0; }
  to { width: var(--target-width); }
}

.skill-bar-fill {
  width: 0;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.skill-content.visible .skill-bar-fill {
  animation-name: fillBar;
  animation-duration: 1.5s;
}

.arrow {
  transition: transform 0.3s ease;
}

/**/
.nav-link {
  transition: all 0.3s ease;
}

.nav-link:hover {
  text-decoration: underline;
}

.tab-button {
  cursor: pointer;
  transition: all 0.3s ease;
}

.active-tab {
  font-weight: bold;
  color: var(--primary-color-dark);
  border-bottom: 2px solid var(--primary-color-dark);
}

/* Timeline Zigzag Styles */
.timeline-zigzag {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.timeline-zigzag::before {
  content: '';
  position: absolute;
  width: 3px;
  height: 100%;
  background-color: var(--primary-color-dark);
  left: 50%;
  transform: translateX(-50%);
}

.timeline-item {
  position: relative;
  width: 50%;
  padding: 10px 40px;
  box-sizing: border-box;
}

.timeline-item:nth-child(odd) {
  left: 0;
  text-align: right;
}

.timeline-item:nth-child(even) {
  left: 50%;
  text-align: left;
}

.timeline-item::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: var(--primary-color-dark);
  border-radius: 50%;
  top: 20px;
}

.timeline-item:nth-child(odd)::before {
  right: -10px;
}

.timeline-item:nth-child(even)::before {
  left: -10px;
}

.timeline-content {
  /*background-color: white;*/
  border: 1px solid var(--primary-background-light);
  border-radius: 8px;
  padding: 10px;
  position: relative;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.dark .timeline-content {
  background-color: #1f2937; /* Dark mode card background */
  border-color: var(--primary-background-dark);
}

/* Responsive Adjustments
@media (max-width: 768px) {
  .timeline-zigzag::before {
      left: 8px;
  }

  .timeline-item {
      flex-direction: column;
      align-items: flex-start;
  }

  .timeline-item::before {
      left: 0;
      transform: none;
  }

  .timeline-content {
      width: 100%;
      text-align: left !important;
  }
} */